<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>863380239018-7f5p0h2emk87i6i5d7uuuh7rs29ckqvi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863380239018-7f5p0h2emk87i6i5d7uuuh7rs29ckqvi</string>
	<key>API_KEY</key>
	<string>AIzaSyBKEY9erbXAKv5anqDTwGFr3TpumM3D4cA</string>
	<key>GCM_SENDER_ID</key>
	<string>863380239018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mirzairwan.Shopping-List</string>
	<key>PROJECT_ID</key>
	<string>shopping-list-database-v-7b55d</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-list-database-v-7b55d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:863380239018:ios:a59be9fd0fe0ab15</string>
	<key>DATABASE_URL</key>
	<string>https://shopping-list-database-v-7b55d.firebaseio.com</string>
</dict>
</plist>